:root{
    
    /* color page */
    --light-blue: #3993DD;
    --white: rgb(255, 255, 255);
    --gray: #B8BBC0;
    
    /* color card */
    --card-blue: #111D4A;
    --card-orange: #E09F3E;
    --card-purple: #7F2982;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrap{
    min-height: 100vh;
    background-color: var(--card-blue);
}

.container{
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

section{
    padding: 10px 10px;
}

.header{
    background-color: var(--white);
    text-align: center;
}

.header h1{
    color: var(--light-blue);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
}

.nav{
    background-color: var(--light-blue);
    color: white;
}

.main{
    background-color: var(--gray);
    height: 100%;

}